* {
    user-select: none;
}

.container {
    width: 90%;
    height: 90%;
    margin-top: 5%;
    margin-left: 5%;
}

.button-outer {
    text-align: center;
}

.button-outer div {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #0F7541;
}

.no-que {
    margin: 10px 20px 10px 20px;
}

.cs-ip {
    text-align: center;
}

.cs-ip::-webkit-inner-spin-button, 
.cs-ip::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.res-ip {
    text-align: center;
}

#corRes {
    margin-bottom: 20px;
}